<mat-toolbar color="primary">
  <h1 class="main-title" (click)="home()">PDF Repository</h1>
  <span class="example-spacer"></span>
  <button *ngIf="state == 2" mat-stroked-button class="navbar-button" (click)="ownedPDFs()">
    <span>Owned PDFs</span>
  </button>
  <button *ngIf="state == 2" mat-stroked-button class="navbar-button" (click)="home()">
    <mat-icon>account_circle</mat-icon>
    <span>Perfil</span>
  </button>
  <button *ngIf="state == 1" mat-stroked-button class="navbar-button" (click)="login()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="state != 1" mat-stroked-button class="navbar-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>

