.save-client-card{
  margin: auto;
  width: 40rem;
}

.save-client-form {
  padding: 1rem;
}

.save-client-form-field {
  width: 100%;
  margin-bottom: .5rem;
}

.client-form-signup-button {
  width: 100%;
  height: 2.5rem;
}

.client-form-password-field {
  margin-bottom: 1rem;
}
