<form class="search-form">
  <mat-radio-group [(ngModel)]="ownersName" name="ownersName">
    <mat-radio-button value=false>PDF's name</mat-radio-button>
    <mat-radio-button value=true>Owner's name</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search"  [(ngModel)]="name" name="search">
  </mat-form-field>

  <button mat-fab color="primary" class="search-button" (click)="getPDFs()">
    <mat-icon>search</mat-icon>
  </button>
</form>

<mat-card class="card" *ngFor="let pdf of pdfList">
  <mat-card-header class="card-header">
    <mat-card-subtitle>{{pdf.ownersName}}</mat-card-subtitle>
    <mat-card-title>{{pdf.name}}</mat-card-title>
    <mat-card-title *ngIf="pdf.numberOfEvaluations > 0">
      <mat-icon *ngIf="pdf.evaluationMean < 1">star_outline</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 1 && pdf.evaluationMean < 2">star_half</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 2">star</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean < 3">star_outline</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 3 && pdf.evaluationMean < 4">star_half</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 4">star</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean < 5">star_outline</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 5 && pdf.evaluationMean < 6">star_half</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 6">star</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean < 7">star_outline</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 7 && pdf.evaluationMean < 8">star_half</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 8">star</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean < 9">star_outline</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 9 && pdf.evaluationMean < 10">star_half</mat-icon>
      <mat-icon *ngIf="pdf.evaluationMean >= 10">star</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-body">
    <p>{{pdf.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="pdf.data != null" mat-button color="primary" (click)="download(pdf)">Download</button>
    <button *ngIf="state != 3 && pdf.data != null && pdf.ownersEmail != userEmail" mat-button color="accent" (click)="openEvaluateDialog(pdf)">Evaluate</button>
    <button mat-button *ngIf="state != 3 && pdf.data != null && pdf.ownersEmail != userEmail && pdf.status != 'REPORTED'" color="warn" (click)="reportPDF(pdf.id)">Report</button>
    <button *ngIf="pdf.data == null" mat-button color="primary" (click)="purchase(pdf)">Purchase</button>
    <button *ngIf="pdf.ownersEmail == userEmail" mat-button color="accent" (click)="updatePDF(pdf)">Update</button>
    <button *ngIf="pdf.ownersEmail == userEmail || state == 3" mat-button color="warn" (click)="deletePDF(pdf.id)">Delete</button>
  </mat-card-actions>
</mat-card>
