.card {
  margin-bottom: 1rem;
}

.card-header {
  margin-bottom: .5rem;
}

.card-body {
  margin-top: .5rem;
}

.search-form {
  display: grid;
  grid-template-columns: 30% 60% 10%;
}

.search-buttom {
  margin-left: 1rem;
}
