.update-password-card {
  width: 40rem;
  margin: auto;
  text-align: center;
}

.update-password-form {
  padding: 1rem;
}

.update-password-form-field {
  width: 100%;
  margin-bottom: .5rem;
}

.update-password-form-button {
  width: 100%;
  margin-bottom: 1rem;
  height: 2.5rem;
}
