<mat-card class="update-password-card">
  <mat-card-content class="card-body">
    <form class="update-password-form" [formGroup]="updatePasswordForm">
      <mat-form-field appearance="outline" class="update-password-form-field">
        <mat-label>Code</mat-label>
        <input matInput placeholder="-370-3-7-8-46" name="code" formControlName="code">
        <mat-error *ngIf="updatePasswordForm.get('code')?.touched && updatePasswordForm.get('code')?.hasError('required')">
          Code is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-password-form-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" type="password" formControlName="password">
        <mat-error *ngIf="updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.hasError('required')">
          Password is required!
        </mat-error>
        <mat-error *ngIf="updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.hasError('pattern')">
          Password must have at least one lower-case, upper-case, numbers and 9 characters!
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="update-password-form-button" (click)="updatePassword()">
        <span>Update Password</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
