<mat-card class="update-password-card">
  <mat-card-content class="card-body">
    <form class="update-password-form">
      <mat-form-field appearance="outline" class="update-password-form-field">
        <mat-label>Code</mat-label>
        <input matInput placeholder="-370-3-7-8-46" name="code" [(ngModel)]="code">
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-password-form-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" type="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="update-password-form-button" (click)="updatePassword()">
        <span>Update Password</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
