<form class="update-client-form">
  <mat-form-field appearance="outline" class="update-client-form-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="user@email.com" name="email" [(ngModel)]="client.email">
  </mat-form-field>
  <mat-form-field appearance="outline" class="update-client-form-field">
    <mat-label>Username</mat-label>
    <input matInput type="username" name="username" [(ngModel)]="client.username">
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" class="update-client-form-button" (click)="update()">
      <span>Update</span>
    </button>
  </div>
</form>
