<mat-card class="login-card">
  <mat-card-content class="card-body">
    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@email.com" name="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
          Email is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-form-field last-login-form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
          Password is required!
        </mat-error>
      </mat-form-field>
      <div class="forgot-password-container">
        <a [routerLink]="['../recoverPassword']">Forgot Password?</a>
      </div>
      <button mat-raised-button color="primary" class="login-form-button" type="submit" [disabled]="!loginForm.valid" (click)="login()">
        <span>Login</span>
      </button>
      <button mat-raised-button class="login-form-button" (click)="signup()">
        <span>Signup</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
