<mat-card class="recover-password-card">
  <mat-card-content class="card-body">
    <form class="recover-password-form" [formGroup]="emailForm">
      <mat-form-field appearance="outline" class="recover-password-form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@email.com" name="email" formControlName="email">
        <mat-error *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.hasError('required')">
          Email is required!
        </mat-error>
        <mat-error *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.hasError('email')">
          Email invalid!
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="!emailForm.valid" color="primary" class="recover-password-form-button" (click)="sendPassordRecoverMessage()">
        <span>Send password recover message</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
